mixin galleryList(photos)
  .galleryList
    each photo in photos
      div.insideCells
        a(href='/gallery/#{photo.id}')
          img(class="image" src="#{photo.link}")
          p.photoName By: #{photo.author}
          //- p.photoDescription #{photo.description}
          p.photoDescription Added: #{photo.createdAt}
          p.photoDate Updated: #{photo.updatedAt}