html
  head
    link(rel='stylesheet', href='/css/styles.css')

body
  include ../partials/header

h1 Edit a photo here!

img(src="#{photoLink}")

form(action='/gallery/#{photoId}' method='POST')
  input(type='hidden' value='PUT' name='_method')
  div
    label(for='author') Author
    input(type='text' id='author' name='author')

  div
    label(for='link') Link
    input(type='text' id='link' name='link')

  div
    label(for='desc') Description
    textarea(id='desc' name='description')

  div.button
    button(type='submit') Send

form(action='/gallery/#{photoId}' method='POST')
  input(type='hidden' value='DELETE' name='_method')

  div.button
    button(type='submit') DELETE
    //- value='#{editTitle}'
    //- value='#{editAuthor}'
    //- #{editBody}