include ../partials/header

body
  div.wrapper
    div.aside.aside-1
      img(src="#{main}")
      p.picDetails By: #[span.spanNoStyle #{author}]
      p.picDetails Description: #[span.spanNoStyle #{description}]
      p.picDetails Added: #[span.spanNoStyle #{createdAt}]
      p.picDetails Updated: #[span.spanNoStyle #{updatedAt}]
      if UserId === UserCurr
        include ../partials/footer

    div.aside.aside-2
      a(href='/gallery/#{co1id}')
        img.co(src="#{co1}")
      a(href='/gallery/#{co2id}')
        img.co(src="#{co2}")
      a(href='/gallery/#{co3id}')
        img.co(src="#{co3}")