include ../partials/header

body
  div.wrapper
    div.aside.aside-1
      img(src="#{main}")
      p By: #{author}
      p Description: #{description}
      p Added: #{createdAt}
      p Updated: #{updatedAt}
      if UserId === UserCurr
        include ../partials/footer

    div.aside.aside-2
      a(href='/gallery/#{co1id}')
        img.co(src="#{co1}")
      a(href='/gallery/#{co2id}')
        img.co(src="#{co2}")
      a(href='/gallery/#{co3id}')
        img.co(src="#{co3}")