include ../partials/header

body
  div.wrapper
    div.aside.aside-1
      img(src="#{main}")
      p #{mainId}
      p #{mainAuth}
      p #{mainDescription}
      form(method='get' action='/gallery/#{mainId}/edit')
        button.btnBlue(type='submit') EDIT

    div.aside.aside-2
      img.co(src="#{co1}")
      img.co(src="#{co2}")
      img.co(src="#{co3}")